<h1>Inventories#show</h1>


<p>
  <strong>SKU:</strong>
  <%= @inventory.sku %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @inventory.price%>
</p>

<p>
  <strong>Qty:</strong>
  <%= @inventory.quntity%>
</p>

<p>
	<%= link_to 'Back', root_path %>
</p>


